# Install libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Load Dataset

In [4]:
dataSet = pd.read_csv('./dataset/concrete.csv', sep='\s+')
dataSet.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,203.5,0.0,971.8,748.5,28,29.89
1,168.9,42.2,124.3,158.3,10.8,1080.8,796.2,14,23.51
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,28,29.22
3,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
4,154.8,183.4,0.0,193.3,9.1,1047.4,696.7,28,18.29

# Shape of the data

In [5]:
# Get the shape of Concrete data
dataSet.shape

(5, 9)

In [6]:
print("Number of rows = {0} and number of columns = {1}".format(dataSet.shape[0], dataSet.shape[1]))

Number of rows = 5 and number of columns = 9

# Data type of each attribute

In [7]:
# Check data types of columns
dataSet.dtypes

cement          float64
slag            float64
ash             float64
water           float64
superplastic    float64
coarseagg       float64
fineagg         float64
age               int64
strength        float64
dtype: object

In [8]:
# Check data frame info
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cement        5 non-null      float64
 1   slag          5 non-null      float64
 2   ash           5 non-null      float64
 3   water         5 non-null      float64
 4   superplastic  5 non-null      float64
 5   coarseagg     5 non-null      float64
 6   fineagg       5 non-null      float64
 7   age           5 non-null      int64
 8   strength      5 non-null      float64
dtypes: float64(8), int64(1)
memory usage: 400.0 bytes

In [9]:
# Column name of Data frame
dataSet.columns

Index(['cement', 'slag', 'ash', 'water', 'superplastic', 'coarseagg',
       'fineagg', 'age', 'strength'],
      dtype='object')

# Data Cleaning

In [ ]:
Check